body{
    background-image: url(./images/lk.avif);
    background-size: 100%;
    font-size: 20px;
    color: rgb(49, 15, 68);
    text-align: center;
}
.center{
    display: block;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 300px;
    height: 400px;
}
.main-nav
{
    display: flex;
    background: rgb(195, 121, 244);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 1em;
    font-family:Arial, Helvetica, sans-serif;
}
.main-nav > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
    font-size: 20px;
}
.main-nav li
{
    margin-right: 1em;
}
.main-nav > form
{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
}
.main-nav input
{
    flex: 1;
}
.main-nav button
{
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 1em;
    color: rgb(94, 25, 122);
    padding: 0 1em;
    margin-left: .5em;
}